body{
    background-color: rgb(194, 191, 191);
}
h1{
    color: red;
}
.itemBox{
    background-color: white;
    height: 150px;
    border-radius: 7px;
    /* flex-basis: 24%; */
    text-align: center;
    padding: 0px 10px;
}
.container-Box{
    display: flex;
    justify-content: space-between;
}